input {
    border: 1px solid #696969;
    display: block;
    font-size: 1em;
    margin: 8%;
    padding: 3%;
    text-align: left;
    width: 80%;
  }
  
  label {
    text-align: right;
    display: block;
    clear: both;
    float: left;
    margin: 8%;
    color: rgb(255, 248, 50);
    text-shadow:1px 1px black;
    font-family: 'Fjalla One', sans-serif;
  }
  
  form {
    margin-top: 15px;
  }
  
  .error-message {
    color: red;
  }
  
  .login_demo-creds {
    font-size: 14px;
    text-align: left;
    display: block;
    margin-top: 20px;
    margin: 8%;
    color: rgb(255, 248, 50);
    text-shadow:1px 1px black;
    font-family: 'Fjalla One', sans-serif;
  }
  
  .btn-submit, .btn-back-login{
    text-transform: uppercase;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 10%;
    background-color: white;
    margin: 2rem .5rem;
  }
  .btn-submit{
      margin-left: 6%;
      font-size: .9rem;
  }
  .btn-back-login{
    margin-left: 10%;
    padding-left: 40px;
    font-size: .9rem;
}
.title__page{
  text-shadow:3px 2px black;
  color: white;
  font-family: 'Lemonada', cursive;
}
@media (min-width: 410px){
  form{
    width: 80%;
    margin-left: 2.5rem;
  }
  .btn-submit, .btn-back-login{
    margin-left: 1.65rem;
  }
  label, .login_demo-creds{
    font-size: 18px;
  }
}
@media (min-width: 525px){
  form{
    width: 70%;
    margin-left: 4rem;
  }
  .btn-submit, .btn-back-login{
    margin-left: 2.2rem;
  }
}
@media (min-width: 725px){
  form{
    width: 68%;
    margin-left: 8rem;
  }
  .btn-submit, .btn-back-login{
    margin-left:5rem;
  }
  label, .login_demo-creds{
    font-size: 20px;
  }
}
@media (min-width: 1000px){
  form{
    width: 55%;
    margin-left: 16rem;
  }
  .btn-submit, .btn-back-login{
    margin-left:6rem;
  }
}
@media (min-width: 1350px){
  form{
    width: 45%;
    margin-left: 27rem;
  }
  .btn-submit, .btn-back-login{
    margin-left:7.5rem;
  }
}
