input {
    border: 1px solid #696969;
    display: block;
    font-size: 1em;
    margin: 8%;
    padding: 3%;
    text-align: left;
    width: 80%;
  }
  
  label {
    text-align: right;
    display: block;
    clear: both;
    float: left;
    margin: 8%;
    color: white;
    text-shadow:3px 2px black;
  }
  
  form {
    margin-top: 15px;
  }
  
  .error-message {
    color: red;
  }
  
  .login_demo-creds {
    font-size: 14px;
    text-align: left;
    display: block;
    margin-top: 20px;
    margin: 8%;
    color: white;
    text-shadow:3px 2px black;
  }
  
  .btn-submit, .btn-back-login{
    text-transform: uppercase;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 10%;
    background-color: white;
    margin-top: 2rem;
  }
  .btn-submit{
      margin-left: 6%;
      font-size: .9rem;
  }
  .btn-back-login{
    margin-left: 10%;
    padding-left: 40px;
    font-size: .9rem;
}
.title__page{
  text-shadow:3px 2px black;
  color: white;
}