.btn-group{
    margin-top: 5%;
    color: rgb(15, 15, 15);
}
.rw-btn, .ww-btn{
    height: 3rem;
    width: 8rem;
    font-size: 16px;
}

.red-btn, .top-btn{
    text-transform: uppercase;
    padding: .5rem;
    display: inline-block;
    border-radius: 3rem;
    background-color:white;
}
.rt-btn, .lt-btn{
    margin-left: .8rem;
}
.btn-back{
    margin: .8rem;
    padding: 1.9px 27px;
    border-radius: 3rem;
}
.top-btn{
position: relative;
    height: 40px;
    text-align: center;
    padding-left: 10px;
    width: 50px;
    background-color: rgb(114, 112, 245);
    color:black;
    font-size: 16px;
}
.title__page.wine{
    margin: 4rem 0 2rem 0 ;
   padding-left: 1rem;
}