

.Wine__form {
    color: black;
    padding: 2px;
  }
 
  h2{
    text-align: center;
    padding:10px;
  }
  .Wine__form label {
    display: block;
    font-size: 16px;
    padding-bottom: 8px;
  }
  
  .Wine__form input,
  .Wine__form textarea,
  .Wine__form select, 
  .Wine__form option{
    font-size: 14px;
    padding: 8px;
    width: 15rem;
  }

  .Wine__form select,
  .Wine__form option {
    height: 33px;
  }
  
  .Wine__form > .wine__field {
    margin-bottom: 16px;
  }
  .Wine__form > .buttons {
    margin-top: 26px;
  }
  
  
  .Wine__form button {
    background-color: black;
    border-radius: 3rem;
    border: 1px solid white;
    color:white;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-decoration: none;
  }
  .Wine__form button[type="submit"]:hover {
    background-color: #066af7;
    color: white;
  }
  #date, #winecat{
      max-height: 20rem;
      padding:0;
      background-color:rgb(196, 196, 196);
  }
  #date, #winecat, #content{
      margin-left: 25px;
  }

  .errorMessage{
      padding: 2%;
      margin-left: 40px;
      font-size: 15px;
      font-weight: 600;
      color: red;
      text-shadow: 2px 2px black ;
  }
  .add__wine{
    margin-top: 5rem;
    font-size: 2rem;
  }

@media(min-width:375px){
  .addwine__style, .Wine__form{
    width:90%;
    margin: 1rem;
  }
 
  .Wine__form label {
    font-size: 18px;
    padding-bottom: 1rem;
    display: inline-block;
  }
  
  .Wine__form input,
  .Wine__form textarea,
  .Wine__form select, 
  .Wine__form option{
    font-size: 15px;
    padding: 8px;
    width: 15rem;
  }
  #date, #winecat, #content{
    margin-left: 1.4rem;
  }
  .errorMessage{
    padding: 1%;
    margin-left: 15px;
    font-size: 17px;
}
}
@media(min-width:462px){
  .addwine__style, .Wine__form{
    width:85%;
    margin: 2rem;
  }
  #date, #winecat, #content{
    margin-left: 1.7rem;
  }
}


  @media (min-width: 532px){
.addwine__style{
  width: 80%;
  margin: 4rem 2rem;
}
.Wine__form {
  width: 80%;
  padding: 1rem;
  margin: 4rem 2rem;
}
.Wine__form label {
  font-size: 18px;
  padding-bottom: 1rem;
  display: inline-block;
}

.Wine__form input,
.Wine__form textarea,
.Wine__form select, 
.Wine__form option{
  font-size: 15px;
  padding: 8px;
  width: 25rem;
}
#date, #winecat, #content{
  margin-left: 1.5rem;
}
.errorMessage{
  padding: 2%;
  margin-left: 15px;
}

}
@media (min-width: 732px){
  .addwine__style{
    width: 80%;
    margin: 4rem 2rem;
  }
  .Wine__form {
    width: 80%;
    padding: 1rem;
    margin: 4rem 2rem;
  }
  .Wine__form label {
    font-size: 18px;
    padding-bottom: 1rem;
    display: inline-block;
  }
  
  .Wine__form input,
  .Wine__form textarea,
  .Wine__form select, 
  .Wine__form option{
    font-size: 15px;
    padding: 8px;
    width: 25rem;
  }
  #date, #winecat, #content{
    margin-left: 1.5rem;
  }
  .errorMessage{
    padding: 2%;
    margin-left: 15px;
  }
  
  }
@media (min-width: 922px){
  .addwine__style{
    width: 60%;
    margin: 1rem 10rem;
  }
  .Wine__form {
    width: 60%;
    padding: 1rem;
    margin: 1rem 2rem;
  }
  .Wine__form label {
    font-size: 18px;
    padding-bottom: 1rem;
    display: inline-block;
  }
  
  .Wine__form input,
  .Wine__form textarea,
  .Wine__form select, 
  .Wine__form option{
    font-size: 15px;
    padding: 8px;
    width: 25rem;
  }
  #date, #winecat, #content{
    margin-left: 1.5rem;
  }
  .errorMessage{
    padding: 1.5%;
    margin-left: 19px;
  }
  }
  @media (min-width: 1062px){
    .addwine__style{
      width: 60%;
      margin: 1rem 10rem;
    }
    .Wine__form {
      width: 60%;
      padding: 1rem;
      margin: 1rem 2rem;
    }
    .Wine__form label {
      font-size: 18px;
      padding-bottom: 1rem;
      display: inline-block;
    }
    
    .Wine__form input,
    .Wine__form textarea,
    .Wine__form select, 
    .Wine__form option{
      font-size: 15px;
      padding: 8px;
      width: 25rem;
    }
    #date, #winecat, #content{
      margin-left: 1.5rem;
    }
  }

  @media (min-width: 1240px){
  
    .Wine__form, .addwine__style {
      width: 65%;
      padding: 2.5rem;
      margin: 1rem 10rem;
    }
    .Wine__form label {
      font-size: 18px;
      padding-bottom: 1rem;
      display: inline-block;
    }
    
    .Wine__form input,
    .Wine__form textarea,
    .Wine__form select, 
    .Wine__form option{
      font-size: 15px;
      padding: 8px;
      width: 25rem;
    }
    #date, #winecat, #content{
      margin-left: 2rem;
    }
    .errorMessage{
      padding: 1.5%;
      margin-left: 30px;
    }
  }

  @media (min-width: 1500px){
  
    .Wine__form, .addwine__style {
      width: 65%;
      padding: 2.5rem;
      margin: 1rem 12rem;
    }
    .Wine__form label {
      font-size: 18px;
      padding-bottom: 1rem;
      display: inline-block;
    }
    
    .Wine__form input,
    .Wine__form textarea,
    .Wine__form select, 
    .Wine__form option{
      font-size: 15px;
      padding: 8px;
      width: 25rem;
    }
    #date, #winecat, #content{
      margin-left: 2.5rem;
    }
    .errorMessage{
      padding: 1.5%;
      margin-left: 30px;
    }
  }
  