.wine-selection{
    display: flex;
    flex-direction: column;

}
.individual-info{
    margin-top: 5%;
    text-align: center;
}
.text-comment{
    border:2px solid black;
    height: 200px;
    width: 200px;
    margin: 3% 13% 8% 16%;
}
.wine-info{
    font-size: 16px;
    padding: 5%;
}
.back-btn{
    text-transform: uppercase;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 3rem;
    background-color: white;
}
.back-btn{
    margin-left: 90px;
}
.title__page.s_wine{
    margin: 4rem 2rem 0 0;
}