.wine-selection{
    display: flex;
    flex-direction: column;

}
.individual-info{
    margin-top: 5%;
    text-align: center;
    color: #f8fc3a;
    text-shadow: 2px 2px black;
}

.wine-info{
    font-size: 16px;
    padding: 1rem;
    color: white;
    border:2px solid white;
    box-shadow: 1rem 1rem black;
    line-height: 2;
    margin: 2rem;
}
.back-btn{
    text-transform: uppercase;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 3rem;
    background-color: white;
}
.back-btn{
    margin-left: 3rem;
    margin-right: 1.5rem;
}
.title__page.s_wine{
    margin: 6rem 2rem 0 0;
}
.back-btn, .wine__delete{
    margin-top: 1.5rem;
}
