* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 15px;
    width:100%;
    background-image: linear-gradient( to bottom, #fff290b8  , rgba(0, 0, 0, 0.475) 300%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
body, html, #root{
    height: 100%;
}

.header{
    text-align: center;
    height: 150vh;
    background-image:linear-gradient(
        to right bottom,
        #c11b7625,
        #e1d9a14c),
         url(../../img/header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    clip-path:polygon(0 0 , 100% 100%, 100% 0%,0,80%)
}

h1{
    text-align: center;
}
button:focus{
    outline: none;
}