.heading-primary {
    color:#fff;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    backface-visibility: hidden;
    font-family: 'Sriracha', cursive;
}
.text-box{
    position: absolute; 
    top: 40%;
    left:52%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    
}
.letter{
    font-size: 55px;
    color: #c11b76;
    font-family: 'Sriracha', cursive;
}
.heading-main{
display:block;
font-size: 25px;
font-weight: 400;
letter-spacing: 3px;
animation-name: moveInLeft;
animation-duration: 3s;
animation-timing-function: ease-out;
animation-fill-mode: both;
margin-top: 13rem;
}
.word-sub{
    color: #c11b76;
    font-weight: 1000;
    font-size: 25px;
    font-family: 'Sriracha', cursive;
    
}
.heading-sub{
    padding-top:2%;
display: block;
font-size: 17px;
font-weight: 400;
letter-spacing: 1px;
animation: moveInRight 3s ease-in;
animation-fill-mode: both;
}

.site-description{
    margin: 35px 10px 0 0;
    border: 2px solid white;
    font-size: .84rem;
    border-radius: 5%;
    color: black;
    background-color: white;
    opacity: 85%;
    text-transform: uppercase;
    
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width:760px){
   
   
    .letter{
        font-size: 75px;
        
    }
    .heading-main{
    
    font-size: 35px;
    margin-top: 20rem;
  
    }
    .word-sub{
       
        font-size: 35px;
        
        
    }
    .heading-sub{
  
    font-size: 25px;
 
    }
    .text-box{
        margin-bottom: 20rem;
    }
    .site-description{
        font-size: 1rem;
        
        
        
    }
}