.heading-primary {
    color:#fff;
    text-transform: uppercase;
    backface-visibility: hidden;

}
.text-box{
    position: absolute; 
    top: 40%;
    left:52%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.letter{
    font-size: 45px;
    color:rgb(245, 6, 6);
}
.heading-main{
display:block;
font-size: 25px;
font-weight: 400;
letter-spacing: 3px;
animation-name: moveInLeft;
animation-duration: 3s;
animation-timing-function: ease-out;
}
.word-sub{
    color:rgb(65, 255, 78);
    font-weight: 900;
    font-size: 25px;
    
    
}
.heading-sub{
    padding-top:2%;
display: block;
font-size: 17px;
font-weight: 400;
letter-spacing: 20px;
animation: moveInRight 3s ease-in;
}

.site-description{
    margin: 25px 10px 0 0;
    border: 2px solid white;
    font-size: 11px;
    border-radius: 5%;
    color: black;
    background-color: white;
    opacity: 85%;
    text-transform: uppercase;
    
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}