.wine-menu{
    display: inline-block;
    margin: 20% 6% 0 0;
    width: 200px;
    height: 60px;
}

.wine-btn:link, .wine-btn:visited{
   
    text-transform: uppercase;
    padding: 15px 40px;
    display: inline-block;
}

.btn-white{
    opacity: 70%;
    background-color: #fff;
    color: #777;
    
}