.addWine-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25%;
}

.addwine-btn, .back{
   
    height:50px;
    width: 100px;
}
.addwine-btn{
    margin: 2px;
}
.back{
    margin: 2px;
}