.addwine-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.addwine-btn, .back{
    margin: 3rem 1rem 6rem 0;
    height:50px;
    width: 100px;
}
.addwine-btn{
    margin-left: 2rem;

}
@media(min-width:411px){
    .addwine-btn, .back{
        margin: 1rem;
        height:50px;
        width: 100px;
    }
}
