input {
    border: 1px solid #696969;
    display: block;
    font-size: 1em;
    margin: 8%;
    padding: 3%;
    text-align: left;
    width: 80%;
  }
  
  label {
    text-align: right;
    display: block;
    clear: both;
    float: left;
    margin: 8%;
  }
  
  form {
    margin-top: 15px;
  }
  
  .error-message {
    color: red;
  }
  
  .login_demo-creds {
    font-size: 14px;
    text-align: left;
    display: block;
    margin-top: 20px;
    margin: 8%;
    color: #008000;
  }
  
  .btn-submit, .btn-back-login{
    text-transform: uppercase;
    padding: 8px 30px;
    display: inline-block;
    background-color: rgb(247, 35, 35);
  }
  .btn-submit{
      margin-left: 8%;
  }
  .btn-back-login{
    margin-left: 12%;
    padding-left: 40px;
}