.signup-form-box{
    margin-top: 10%;
    display:flex;
    flex-direction: column;
    border: 3px solid white;
    font-size: 14px;
}
.signup-field{
    display:flex;
    flex-direction: column;
    margin:2% ;
}
.signup_input{
    border: 2px solid white;
    height: 30px;
    padding: 5%;
}
.submit-btn, .back-btn-signup{
    margin-top: 3%;
    text-transform: uppercase;
    padding: 8px 20px;
    display: inline-block;
    background-color:white;
    border-radius: 3rem;
    margin: 3rem 1rem;
}
.title__page{
    margin-right: 2rem;
}
.signup-password-req{
    color: white;
    text-shadow:3px 2px black;
    margin: 1rem;
}